body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 100px;
    padding: 100px;
    background-color: rgb(235, 148, 200);
}
.about {

}
.projects {

}
.contact {

}