body {
    background-color: #f599d3;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}
.container {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.logo {
    margin-right: 20px;
}

.logo-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #291823;
    padding: 5px;
}

.title {
    font-size: 36px;
    color: #251824;
}

.weeks {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.week-btn {
    background-color: #111;
    color: #f59fe2;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.week-btn:hover {
    background-color: #222;
}

.dropdown {
    display: none;
    background-color: #111;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    width: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.dropdown a {
    display: block;
    color: #f493d3;
    text-decoration: none;
    padding: 8px 0;
    transition: color 0.3s;
}

.dropdown a:hover {
    color: #00ffba;
}
