body {
    font-family: Arial, sans-serif;
    background-color: #faf6f7;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    margin: 0 auto;
    background-color: #ff3366;
    padding: 10px;
    overflow: hidden; 
    border-radius: 8px;
}
h1 {
    color: #f7f6f6;
    text-align: left;
    margin-bottom: 10px;
}
.news-article {
    width: 30%; 
    float: left; 
    background-color: #ff3366;
    padding: 10px;
    text-align: center;
}
.news-article img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}
.news-article p {
    font-size: 14px;
    color: #fafafa;
}
